<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
     <div class="col-md-3 register-left" style="background:-webkit-linear-gradient(left, #3931af, #00c6ff);margin: 50px auto;
  width: 80%;
  padding: 50px 50px; color:white; text-align:center; ">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" style="padding-bottom:20px" alt="" />
                <h3>Welcome</h3>
                <p>to Home Page </p>
                
            </div>
</body>
</html>